<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="DEEP IN CO., LTD."/>
    <title>deepin.dev</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>
    <div class="top-left">
        <div class="top-left-frame">
            <div class="top-left-box">
                <a href="" style="cursor: pointer;">
                    <div class="top-left-box-line">
                        <svg data-bbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" role="img">
                            <g><path d="M146,52V4H4v192h192v-48h4v52H0V0h200v52H196z"></path></g>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="top-left-word">
                <p>
                    <a href="" target="_self">
                        <span style="letter-spacing:0.1px;">deepin.dev</span>
                        
                    </a>
                </p>
            </div>
        </div>
    </div>


    <div class="block">
        <img src="https://media-public.canva.com/MADGxw3vRV4/4/screen_2x.jpg" data-speed="-1" class="img-parallax">
        
        <h4>welcome to our site</h4>
        <h2>deepin</h2>
        <h3>.dev</h3>

        <div class="blockclock">
            <div class="clock">
                <div class="clock__second"></div>
                <div class="clock__minute"></div>
                <div class="clock__hour"></div>
                <div class="clock__axis"></div>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
                <section class="clock__indicator"></section>
            </div>
        </div>
        
    </div>
    <div class="block">
        <img src="https://unsplash.it/1920/1920/?image=1067" data-speed="1" class="img-parallax">
        <h2>Parallax Speed 1</h2>
    </div>
    <div class="block">
        <img src="https://unsplash.it/1920/1920/?gravity=center" data-speed="-0.25" class="img-parallax">
        <h2>Parallax Speed -0.25</h2>
    </div>
    <div class="block">
        <img src="https://unsplash.it/1920/1920/?random" data-speed="-0.75" class="img-parallax">
        <h2>Parallax Speed -0.75</h2>
    </div>


    
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js></script>
    <script src="scripts/parallax.js"></script>
    <script src="scripts/clock.js"></script>
    <link rel="stylesheet" href="styles/clock.css" type="text/css">
</body>
</html>